
<div class="one-recenze">
<div id="<%= dom_id recenze %>">
  <p>
    <b>Název filmu:</b>
    <%= recenze.name %>
  </p>

  <p>
    <b>Popis filmu:</b>
    <%= recenze.description%>
  </p>

  <p>
    <b>Hodnocení:</b>
    <%= number_to_percentage  recenze.hodnoceni, precision: 0 %>
  </p>
  <p>
      <%= link_to "Zobrazit recenzi", recenze, class: "button is-link" %>
    </p>
  
</div>
</div>