<section class="box-columns">

<h1>aasdsad</h1>

<%= render "partials/notice" %>
<%= render @recenze %>

<div>
  <%= link_to "Editovat recenzi", edit_recenze_path(@recenze) %> |
  <%= link_to "Zpět na recenze", recenzes_path %>

  <%= button_to "Smazat recenzi", @recenze, method: :delete %>
</div>
</section>
